body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.EventAttr {
  background-color:crimson ;
  width: 120px;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  }